<div class="container">
  <h1>Haber Ekleme Paneli</h1>
  <h2>haberlar</h2>
  <button mat-fab aria-label="label" matTooltip="haber  Ekle" color="primary" (click)="Ekle()">
    <mat-icon aria-label>add</mat-icon>
  </button>
  <p>&nbsp;</p>

  <ng-container matColumnDef="HaberBaslik">
    <mat-header-cell *matHeaderCellDef mat-sort-header> haberlanan Süre
    </mat-header-cell>
    <mat-cell *matCellDef="let haber"> {{haber.HaberBaslik}}  </mat-cell>
  </ng-container>



  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="haberTarih">
      <mat-header-cell *matHeaderCellDef mat-sort-header> haber Tarihi
      </mat-header-cell>
      <mat-cell *matCellDef="let haber"> {{haber.HaberTarih | date:'dd.MM.yyyy HH:mm:ss'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="HaberIcerik">
      <mat-header-cell *matHeaderCellDef mat-sort-header> haberlanan Süre
      </mat-header-cell>
      <mat-cell *matCellDef="let haber"> {{haber.HaberIcerik}}  </mat-cell>
    </ng-container>

    <ng-container matColumnDef="HaberFoto">
      <mat-header-cell *matHeaderCellDef mat-sort-header> haber Uye İd
      </mat-header-cell>
      <mat-cell *matCellDef="let haber"> ( {{haber.HaberFoto}} ) </mat-cell>
    </ng-container>
    
    

    <ng-container matColumnDef="haberUcret">
      <mat-header-cell *matHeaderCellDef mat-sort-header> haber Ücreti (₺)
      </mat-header-cell>
      <mat-cell *matCellDef="let haber"> {{haber.haberUcret}}  </mat-cell>
    </ng-container>

    <ng-container matColumnDef="detay">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let haber">
        

        <button mat-icon-button color="primary" matTooltip="haber Düzenle" (click)="Duzenle(haber)">
          <mat-icon aria-label="label">edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" matTooltip="haber Sil" (click)="Sil(haber)">
          <mat-icon aria-label="label">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  
   
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons="">
  </mat-paginator>
</div>
